pipeline/ppln_brk_poc_label.json
{
	"name": "ppln_brk_poc_label",
	"properties": {
		"activities": [
			{
				"name": "Azure Function",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpTrigger3",
					"body": "{\nname:\"Azure\"\n}",
					"headers": {
						"dt_ini": {
							"value": "@addDays(utcNow(),-90 ,'yyyy-MM-dd' )",
							"type": "Expression"
						},
						"dt_fim": {
							"value": "@addDays(utcNow(),-1 ,'yyyy-MM-dd' )",
							"type": "Expression"
						}
					},
					"method": "POST"
				},
				"linkedServiceName": {
					"referenceName": "AzureFunctionLabel",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Azure Function",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat(pipeline().parameters.pathnotebook,pipeline().parameters.notebook)",
						"type": "Expression"
					},
					"baseParameters": {
						"value": {
							"value": "@variables('dt_teste')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText",
						"type": "DatasetReference",
						"parameters": {
							"pasta_land": {
								"value": "@pipeline().parameters.report",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2023-04-26T00:00:00Z",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"pathnotebook": {
				"type": "string",
				"defaultValue": "/Users/lusilv50@braskem.com/"
			},
			"report": {
				"type": "string",
				"defaultValue": "reportlabel"
			},
			"notebook": {
				"type": "string",
				"defaultValue": "nb_dbk_complieprivacidade_o3645_labelprep"
			}
		},
		"variables": {
			"dt_teste": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-26T18:54:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}